trigger:
- main

variables:
  imageName: azure-pipelines-canary-k8s
  dockerRegistryServiceConnection: fstefanovacrlearning
  imageRepository: 'azure-pipelines-canary-k8s'
  containerRegistry: fstefanovacrlearning.azurecr.io
  tag: $[ substring( variables['Build.SourceVersion'], 0, 7 ) ]

pool:
  name: "Azure Pipelines"

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build and push image
      inputs:
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: app/Dockerfile
        tags: |
          $(tag)